@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root{ /* sejenis color pallette dan template*/
    --primaryTextColor: #232e35; /* warna title/judul */
    --secondaryTextColor: #656d72; /* warna teks biasa */
    
    --borderColor: #f1f1f1; /* warna border */
    --lineColor: #d9d9d9; /* warna line */

    --primaryBackgroundColor: #fff; /* warna background */
    --secondaryBackgroundColor: #fbfbfb; /* warna background */
    --thirdBackgroundColor: #f5f3fe; /* warna background */

    --primaryIconColor: #7e74f1; 
    --primaryIconColorHover: #5d51e8; 

    --sectionPadding: 6rem 0; /* 1 rem = 16 pixels */
    
    --itemBorderRadius: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container{
        width: 90%;
    }
}



/* Buttons */
.btn {
    padding: 1rem 1.5rem;
    background: white;
    border: 1.5px solid var(--borderColor);
    cursor: pointer;
    transition: .2 ease-in-out
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}



/* Titles */
.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--secondaryTextColor);
    position: relative;
    /* padding-left: 40px; */
    width: fit-content;
    font-weight: 400;
    font-size: .9rem;
}

.pre-title:before {
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: -40px;
    top: 50%;
}

.pre-title:after {
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: inside;
    right: -30px;
    top: 50%;
}



/* Layout */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    place-items: start center;
    margin-bottom: 2rem;
}

/* .grid-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
} */



/* Logo and navigation Menu */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    background: var(--secondaryBackgroundColor);
    position: sticky;
    top: 0; /* Tetap di bagian atas halaman */
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    padding: 0 2rem;  
}

.logo a {
    color: var(--primaryTextColor);
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: var(--primaryTextColor);
}

nav ul ri {
    display: flex;
    align-items: center;
    padding: 0 2rem 0 0;
}

nav ul ri a {
    color: var(--primaryTextColor);
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 7px;
    transition: all .3s;
    z-index: 1001; /* muncul paling atas */
}

.burger {
    display: none;
    z-index: 1001;
    position: fixed;
    top: 20px;
    right: 4rem;
}



/* Hero Section */
#hero {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 1fr 1fr = 2 kolom */
    align-items: center;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: .5rem 0 1rem;
}

.hero-name span {
    color: var(--primaryIconColor)
}

.hero-right img {
    width: 80%;
}

.hero-right {
    display: flex;
    justify-content: center; 
}



/* Specialties Section */

#specialties {
    background-color: var(--secondaryBackgroundColor);
    padding: var(--sectionPadding);
}

.specialties .pre-title{
    margin: 0 auto;
    text-align: center;
}

.specialties-title {
    text-align: center;
}

.specialties-title span {
    color: var(--primaryIconColor)
}


.specialties {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--primaryBackgroundColor);
    border-radius: var(--itemBorderRadius);
}

.specialties h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.specialties-icon {
    background: var(--thirdBackgroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.specialties-icon svg {
    fill: var(--primaryIconColor);
}



/* Portfolios Section */

#portfolios {
    background-color: var(--primaryBackgroundColor);
    padding: var(--sectionPadding);
}

.portfolios .pre-title{
    margin: 0 auto;
    text-align: center;
}

.portfolios-title {
    text-align: center;
}

.portfolios-title span {
    color: var(--primaryIconColor)
}

.portfolio {
    text-align: justify;
    /* background: var(--secondaryBackgroundColor); */
    border-radius: var(--itemBorderRadius);
    overflow: hidden;
    border: 1px solid var(--borderColor);
    /* width: minmax(200px, 250px) */
}

.portfolio-cover {
    height: 250px;
    /* width: 250px; */
}

.portfolio-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-info{
    padding: 2rem 1.5rem;
}

.portfolio-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.portfolio h4{
    font-weight: 500;
    font-size: 1.05rem;
}

.portfolio a {
    color: var(--primaryTextColor);
}

.portfolio a:hover{
    color: var(--primaryIconColor);
}

.portfolio-title a svg:hover{
    fill: var(--primaryIconColor);
}

.portfolio-title a svg{
    transition: .2s ease-in-out;
}

.portfolio-tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.portfolio-tags div {
    font-size: .9rem;
    border: 1px solid var(--borderColor);
    padding: .4rem 1rem;
    color: var(--secondaryTextColor);
}



/* Skills Section */
#skills {
    padding: var(--sectionPadding);
    background: var(--secondaryBackgroundColor);
}

.skills .pre-title{
    margin: 0 auto;
    text-align: center;
}

.skills-title {
    text-align: center;
}

.skills-title span {
    color: var(--primaryIconColor)
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.education {
    display: flex;
    gap: 2rem;
}

.education .line {
    padding: 0 0.7rem;
}

.education .line div {
    width: 2px;
    height: 100%;
    background: var(--borderColor);
    position: relative;
}

.education-info p {
    margin: .6rem 0 1.4rem; /*0.6 atas, 0 kiri kanan 1.4 bawah */
}

.education-years {
    margin-bottom: 3rem;
}

.education .line div:before {
    content: "";
    width: 15px;
    height: 15px;
    background: var(--borderColor);
    border-radius: 50%; /* biar bulat */
    position: absolute;
    left: -6px;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.skills-left ul {
    line-height: 2rem;
    padding: 0 1rem;
}

.skills-left p {
    text-align: justify;
}


/* Section Contact */
#contact {
    padding: var(--sectionPadding);
    background: var(--primaryBackgroundColor);
}

.contact .pre-title{
    margin: 0 auto;
    text-align: center;
}

.contact-title {
    text-align: center;
}

.contact-title span {
    color: var(--primaryIconColor)
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
}

.contact-left {
    margin-top: 1rem;
    margin-left: auto;
    width: 200px;
}

.contact-left .qr-wa {
    display: block;
    background: var(--secondaryBackgroundColor);
    border-left: 500px;
    /* width: fit-content; */
}

.contact-left .qr-wa img {
    display: block;
    margin-left: auto;
    width: 100%;
    height: 100%;
}

.contact-right {
    margin: auto 0;
}

.contact-item {
    display: flex;
    margin: 25px auto;
    align-items: center;
}

.contact-item-icon {
    display: flex;
    background: var(--thirdBackgroundColor);
    width: 64px;
    height: 64px;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.contact-item-icon div {
    display: flex;
}

.contact-item-icon svg {
    display: flex;
}

.contact-item-detail {
    padding-left: 10px;
}

.contact-item-detail h4 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 1rem;
}

.contact-item-detail a {
    font-size: 20px;
    color: var(--primaryIconColor);
}


/* Footer */
footer {
    padding: 4rem 0;
    background: var(--secondaryBackgroundColor);
    box-shadow: 5px 2px 60px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.footer-icons a {
    margin: 0 .2rem;
    
}

.footer-icons p {
    margin-top: 1rem;
}

.footer-icons a:hover svg{
    box-shadow: 5px 1px 50px var(--primaryIconColorHover);
}
